body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}

@font-face {
    font-family: "Gilroy"; /* Гарнитура шрифта */
    src: url(../fonts/gilroy/Gilroylight.ttf);
    font-weight: 300; /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: "Gilroy"; /* Гарнитура шрифта */
    src: url(../fonts/gilroy/Gilroyextrabold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 700;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip:rect(0 0 0 0);
overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px 50px;

    z-index: 1;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase; 

    background: linear-gradient(transparent 13px, #f0c52e 13px, #f0c52e 20px, transparent 20px );
}


.button:hover {
    background: #f0c52e;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header {
    position: relative;
    margin: 0;
    margin-top: 40px;
    padding: 45px 60px;

    background-color: #f8e296;
}

.main-header-logo {
    position: absolute;
    top:-24px;
    left: 60px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header-logo:hover {
    opacity: 0.6;
}

.main-header-logo:active {
    opacity: 0.3;
}

.header-seach {
    position: relative;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.header-seach::after {
    content: "";

    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    left: -35px;

    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
}


.header-seach input {
    opacity: 0.3;

    background-color: #f8e296;
    border: none;
}


.header-seach input:hover{
    opacity: 1;
}


.user-navigation-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.user-navigation {
    display: flex;
    width: 500px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation li {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

.user-navigation-link-exit {
    margin-left: 20px;

    opacity: 0.3;
}

.user-navigation li:first-child::after {
    content: "";
    
    position: absolute;
    width: 13px;
    height: 12px;
    top: 9px;
    left: 0;
    
    background-image: url("../svg/user.svg");
    background-repeat: no-repeat;
}

.user-navigation li:nth-child(2)::after {
    content: "";
    
    position: absolute;
    width: 10px;
    height: 10px;
    top: 11px;
    left: 2px;
    
    background-image: url("../svg/compare.svg");
    background-repeat: no-repeat;
}

.user-navigation li:last-child::after {
    content: "";
    
    position: absolute;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 0;
    
    background-image: url("../svg/cart.svg");
    background-repeat: no-repeat;
}

.user-navigation li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 40px;
}

.main-navigation {
    margin:  0;
    padding: 0;
}

.site-navigation {
    display: flex;
    margin: 0 0;
    margin-top: 40px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
}

.site-navigation li{
    position: relative;
}

.site-navigation li:nth-child(2) {
    margin-right: 40px;
    margin-left: 375px;
}

.site-navigation li:nth-child(3) {
    margin-right: auto;
}

.menu-catalog-wrapper {
    position: absolute;
    display: none;
    width: 1160px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 45px;
    left: -60px;

    z-index: 2;

    background-color: #f8e296;
}

.menu-catalog-list {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;

    list-style: none;
}

.menu-catalog-list li:nth-child(n) {
    margin: 0;
    margin-left: 60px;
    padding: 0;
    
}

.menu::after {
    content: "";

    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    right: -32px;
    opacity: 0.3;

    background-image: url("../svg/plus.svg");
    background-repeat: no-repeat;


}

.menu:hover .menu-catalog-wrapper {
    display: flex;
}

.user-navigation a:hover,
.main-navigation a:hover,
.user-navigation a:focus,
.main-navigation a:focus {
    opacity: 0.6;
}

.user-navigation a:active,
.main-navigation a:active {
    opacity: 0.3;
}

.best-offer {
    margin: 0;
    padding: 0;

}

.slider {
    display: flex;
    margin: 0;
    padding: 0 60px;
    justify-content: space-between;

    background-image: linear-gradient(#f7e296 130px, #ffffff 130px)
}

.slide-one {
    display: flex;
}
.slide-two {
    display: none;
}
.slide-three {
    display: none;
}

.slide-item {
    position: relative;
    width: 500px;
}

.slide-item img {
    margin: 0;
    margin-left: 30px;
    padding: 0;
}

.slide-one img {
    height: 486px;
}

.slide-two img {
    height: 485px;
}

.slide-three img {
    height: 334px;
}

.slide-item span {
    position: absolute;
    top: 10px;
    right: -20px;
    z-index: 0;


    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: 700;
    text-transform: uppercase; 
    color: #ffffff;
}

.slide-item h2 {
    position: relative;
    margin: 0;
    margin-top: 100px;
    padding: 0;

    z-index: 1;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
}

.slide-item p{
    margin: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0;
}

.slide-item-options {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 110px;
    padding: 0;
}

.slide-item-options th{
    margin: 0;
    padding: 0;
    padding-right: 60px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}

.slide-item-options td {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.popular-products {
    margin: 0;
    padding: 0;
}

.popular-products-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    list-style: none;
}

.popular-products-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 160px;

    text-align:  center;

    background-color: rgba(240, 197, 46, 0.5);
}

.popular-products-icon:hover {
    background-color: rgba(240, 197, 46, 1);
}

.popular-products-icon:active img{
    opacity: 0.3;
}

.popular-products-item img {
    margin-top: 40px;
}


.popular-products-item p {
    width: 140px;
    margin: 0;
    margin-top: 35px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.services {
    position: relative;
    margin: 0;
    margin-top: 165px;
    padding: 0;

    z-index: 2;
}

.services::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 288px;
    top: 25px;
    
    z-index: -1;

    background-color: #e5e5e5;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.services-list {
    position: relative;
    width: 285px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-list::after {
    content: "";

    position: absolute;
    width: 7px;
    height: 320px;
    top: -80px;
    right: 0;

    background-color: #000000;
}

.services-item {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.services-item .button {
    width: 160px;
    padding: 5px 0;
    
    text-align: center;

    background-image: linear-gradient(#e5e5e5 13px, #f0c52e 13px, #f0c52e 20px, #e5e5e5 20px );
}

.services-item:first-child .button {
    margin-top: 10px;

    background-image: linear-gradient(#ffffff 13px, #f0c52e 13px, #f0c52e 20px, #e5e5e5 20px )
}

.services-item .button:hover {
    width: 230px;
    padding: 5px 25px;
    text-align: inherit;

    color: #f0c52e;

    background: #000000;
}

.delivery {
    
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 90% 30%;
}

.warranty {
    display: none;
    background-image: url("../img/warranty.png");
    background-repeat: no-repeat;
    background-position: 90% 30%;
}
.credic {
    display: none;
    background-image: url("../img/credit-img.png");
    background-repeat: no-repeat;
    background-position: 90% 30%;
}

.services-slide {
    width: 760px;
}

.services-slide h2 {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
}

.services-slide p {
    width: 430px;
    margin: 0;
    padding: 0;
}

.partners {
    margin: 0;
    margin-top: 210px;
    padding: 0;
}

.partners-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    list-style: none;

}

.partners-list li {
    margin: 0;
    padding: 0;

}

.partners-logo {
    width: 260px;
    height: 100px;;
    filter: grayscale(100%);
    opacity: 0.2;
}

.partners-logo:hover {
    filter:none;
    opacity: 1; 
}

.index-column {
    display: flex;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
    justify-content: space-between;
}

.index-column h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 47px;
}

.index-column p {
    margin: 0;
    padding: 0;
}

.about-us {
    position: relative;
    width: 500px;
    margin: 0;
    padding: 0;
}

.about-us::after {
    content: "";

    position: absolute;
    width: 80px;
    height: 7px;
    top: 0;
    left: 0;

    background-color: #000000;

}
.about-us p {
    margin-bottom: 35px;
}

.about-us p:last-of-type {
    margin-bottom: 60px;
}

.about-us-delivery {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    padding-left: 40px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;

    list-style: none;
}

.about-us-delivery li {
    position: relative;
}

.about-us-delivery li::after {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    top: 15px;;
    left: -32px;

    background-image: url("../img/slider-button.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts {
    position: relative;
    width: 560px;
}

.contacts::after {
    content: "";

    position: absolute;
    width: 80px;
    height: 7px;
    top: 0;
    left: 0;

    background-color: #000000;
}

.contacts p {
    margin-bottom: 44px;
}

.index-column .button {
    margin-top: 80px;
}

.main-title {
    margin: 0;
    margin-top: 40px;
    margin-left: 60px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700; 
}

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-top: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    width: 4px;
    height: 7px;
    top: 12px;
    right: -20px;

    background-image: url("../svg/nav-arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs li:last-child::after {
    display: none;
}

.title-filter {
    width: 100%;
    margin: 0;
    margin-top: 45px;
    padding: 0;

    background-image: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 33%,#ebebeb 33%, #ebebeb 100%);
}

.title-filter .container {
    display: flex;
}

.title-filter h2,
.title-filter b {
    margin: 0;
    margin-left: 60px;
    padding: 23px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.91px;
    text-transform: uppercase;
}

.title-filter b {
    margin-left: 275px;
    margin-right: 55px;
}

.sort-list {
    display: flex;
    margin: 0;
    margin-top: 18px;
    padding: 0;

    list-style: none;
}
.sort-list li {
    margin-right: 20px;
} 

.sort-list li:last-child {
    margin-right: 0;
}

.sort-list:last-of-type {
    margin-left: auto;
}

.sort-list a{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    opacity: 0.3;
}

.sort-list a:hover {
    opacity: 0.6;
}

.sort-list a:active {
    opacity: 1;
}

.sort-list .active {
    opacity: 1;
}

.catalog-content {
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to right,#ebebeb 0%,#ebebeb 33%,#ffffff 33%, #ffffff 100%);
}

.catalog-content .container {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 330px;
    margin: 0;
    padding: 0;

}

.catalog {
    width: 760px;
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

.catalog-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
}

.catalog-item {
    width: 360px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.catalog-item img {
    width: 360px;
    height: 380px;
    margin-bottom: 30px;
}

.catalog-item-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.catalog-img {
    position: relative;
}

.catalog-item-name {
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-item-price {
   
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.catalog-item-hover {
    display: none;
    position: absolute;
    width: 360px;
    height: 380px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    
    text-align: center;
    vertical-align: middle;

    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-hover .button {
    margin-top: 180px;

    background: linear-gradient(transparent 13px, #f0c52e 13px, #f0c52e 20px, transparent 20px );
}

.catalog-item-hover .button:hover {
    background: #ffc600;
}

.catalog-item-hover a:last-of-type {
    font-size: 13px;
    font-weight: 300;

    opacity: 0.5;
}

.catalog-item-hover a:last-of-type:hover {
    opacity: 1;
}

.catalog-item-hover a:last-of-type:active {
    opacity: 0.2;
}

.catalog-img:hover .catalog-item-hover {
    display: block;
}

.pagination {
    display: flex;
    width: 760px;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;
    justify-content: space-between;

    background-color: #ebebeb;
}

.pagination a {
    margin: 0;
    padding: 23px 30px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination > a:hover {
    background-color: #d8d8d8;
}

.pagination > a:active {
    background-color: #d8d8d8;

    opacity: 0.3;
}

.pagination-list {
    display: flex;
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    justify-content: space-between;

    list-style: none;

    
}

.pagination-list a {
    padding: 15px;

    opacity: 0.3;
}

.pagination-list .active {
    opacity: 1;
}

.filter {
    width: 200px;
    margin: 0;
    margin-top: 70px;
    margin-left: 60px;
    padding: 0;
}

.filter .filter-item {
    margin: 0;
    padding: 0;

    border: none;
}


.filter-item legend {
    width: 200px;
    margin-bottom: 15px;
    padding-top: 15px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-top: 2px solid black;
}

.filter-item:last-of-type{
    margin-top: 20px;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-list li {
    margin-left: 40px;
    margin-bottom: 20px;
}

.filter-list label {
    position: relative;

    display: block;

    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content: "";
    
    position: absolute;
    width: 27px;
    height: 23px;
    top: 5px;
    left: -40px;

    background-image: url("../svg/checkbox-off.svg");
    background-repeat: no-repeat;
}


.filter-input-checkbox:checked + label::before {
    content: "";
    
    position: absolute;
    width: 27px;
    height: 23px;
    top: 5px;
    left: -40px;

    background-image: url("../svg/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-input-radio + label::before {
    content: "";
    
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: -40px;

    background-image: url("../svg/radio-off.svg");
    background-repeat: no-repeat;
}


.filter-input-radio:checked + label::before {
    content: "";
    
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: -40px;

    background-image: url("../svg/radio-on.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::before {
    opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::before,
.filter-input-radio:active + label::before,
.filter-input-radio:checked:active + label::before {
    opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label {
    opacity: 0.25;
}

.filter-button {
    width: 200px;
    margin-top: 40px;
    
    border: none;
}



.main-footer {
    width: 100%;
    margin: 0;
    padding: 65px 0;

    background-color: #464646;
}


.footer-logo {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffc600;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer-wrapper {
    display: flex;
    margin:0;
    margin-bottom: 35px;
    padding: 0;
    justify-content: space-between;
}

.footer-wrapper:last-of-type{
    margin-bottom: 0;
}

.user-navigation-footer {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation-footer li {
    position: relative;
    margin-left: 60px;
}

.user-navigation-footer li:first-child::after {
    content: "";

    position: absolute;
    width: 13px;
    height: 12px;
    top: 10px;
    left: -25px;

    background-image: url("../img/user-icon.png");
    background-repeat: no-repeat;
}

.user-navigation-footer li:nth-of-type(2)::after {
    content: "";

    position: absolute;
    width: 13px;
    height: 12px;
    top: 10px;
    left: -25px;

    background-image: url("../img/compare-icon.png");
    background-repeat: no-repeat;
}

.user-navigation-footer li:last-child::after {
    content: "";

    position: absolute;
    width: 13px;
    height: 12px;
    top: 10px;
    left: -25px;

    background-image: url("../img/cart-icon.png");
    background-repeat: no-repeat;
}

.user-navigation-footer li:hover::after{
    opacity: 0.6;
}

.user-navigation-footer li:active::after{
    opacity: 0.3;
}

.user-navigation-footer a{
    color: #ffffff;

    opacity: 0.7;
}

.user-navigation-footer a:hover {
    opacity: 1;
}

.user-navigation-footer a:active {
    opacity: 0.3;
}

.user-navigation-footer .user-navigation-link-exit {
    opacity: 0.3;
}

.site-navigation-footer {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    list-style: none;
}

.site-navigation-footer li {
    margin: 0;
    margin-right: 35px;
    padding: 0;
}

.site-navigation-footer a{
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #ffffff;
    text-transform: uppercase;
}

.site-navigation-footer a:hover,
.copyright-icon:hover {
    opacity: 0.6;
}

.site-navigation-footer a:active,
.copyright-icon:active {
    opacity: 0.3;
}

.footer-wrapper b{
    color: #ffffff;
    font-weight: 300;
}

.social {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social li {
    margin-right: 25px;
    opacity: 0.3;
}

.social li:hover {
    opacity: 0.6;
}

.social li:active {
    opacity: 0.1;
}

.decorative-line {
    width: 80px;
    height: 7px;
    margin-top: 15px;

    background-color: #f0c52e;
}

